.image-bg{
    background: url("./assets/herobg.jpg");
    background-size: cover;
    background-position: center;
  }

  .bg-image{
    background: url("./assets/discuss_bg.png");
    background-size: cover;
    background-position: center;
  }

  .pa-fixed-header {
    background-color: #ffffff !important;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
  

    /* width */
    ::-webkit-scrollbar {
      width: 6px;
      height: 4px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #fff;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #dd1b38;
      border-radius: 100px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #dd1b38d4;
      cursor: pointer;
    } 



    .swiper-button-next, .swiper-button-prev{
      color: #000 !important;
    }